body {
padding-top: 50px;
margin:0;
width:100%;
padding:0;


}
#contenuPage h1 {

text-align: center;
}
#contenuPage {


top: 15px;
left:0;
width:100%;

padding:0; 
margin:0;
}



#ask{
	overflow:  hidden;
	position:absolute;
	top: 35px;
	left:0px;
    width: 50%;
	
	padding:15px;
	border-right: 2.5px solid black;
	background-color:white;
}

#login_form, #signup_form {
	z-index:2;
	position:absolute;
	right:50px;
	top:55px;
}

#answer{
	overflow:  hidden;
	position:absolute;
	top: 35px;
	right:0px;
	margin: 0;
	width: 50%;
	padding:15px;

	border-left: 2.5px solid black;
	background-color:white;
}

#right{
	width: 36px;  
	height: 36px;  
	border-radius: 15px; 
	background-color: rgb(46,117,182);
	display:block;
	margin:auto;
	
}
#left{
	width: 36px;  
	height: 36px;  
	border-radius: 15px; 
	background-color: rgb(46,117,182);
display:block;
	margin:auto;
}

@keyframes agrandirTaille {
  from {
    width:50%;	
	z-index:1;
  }
  to {
    width:100%;
	z-index:1;
	
  }
}

.agrandirTaille{
animation:agrandirTaille 800ms ease 0s;
animation-fill-mode:forwards;
}

.reduireTaille{
animation:reduireTaille 800ms ease 0s;
animation-fill-mode:forwards;
}
@keyframes reduireTaille {
  from {
    width:100%;	
  }
  to {
    width:50%;
	zIndex:-1;

	
  }
}

.agrandirTailleDeZero{
animation:agrandirTailleDeZero 800ms ease 0s;
animation-fill-mode:forwards;
}

@keyframes agrandirTailleDeZero {
  from {
    width:0%;	
	z-index:1;
  }
  to {
    width:100%;
	z-index:1;
	
  }
}
 




#reapparitionAnswer{
	display:none;
	width: 66px;  
	height: 36px;  
	border-radius: 15px; 
	background-color: rgb(46,117,182);
	z-index:1;
	position:fixed;
	right:7px;
	bottom:20px;
}
#reapparitionAsk{
	display:none;
	width: 66px;  
	height: 36px;  
	border-radius: 15px; 
	background-color: rgb(46,117,182);
	z-index:1;
	position:fixed;
	left:7px;
	bottom:20px;
}






.navbar-default {
  background-color: #1f4e79;
  border-color: #2e75b6;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #9dc3e6;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #9dc3e6;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #9dc3e6;
  background-color: #2e75b6;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #9dc3e6;
  background-color: #2e75b6;
}
.navbar-default .navbar-toggle {
  border-color: #2e75b6;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2e75b6;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #9dc3e6;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #9dc3e6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #9dc3e6;
    background-color: #2e75b6;
  }
}