body {
padding-top: 50px;
margin:0;
width:100%;
padding:0;


}
#main h1{
width:100%;
text-align: center;
}
#contenuPage {


top: 15px;
left:0;
width:100%;

padding:0; 
margin:0;
}



#ask{
	overflow:  hidden;
	position:absolute;
	top: 45px;
	left:0px;
    width: 50%;
	margin:0;
	padding:0px;
	border-right: 1px solid #b4b4b4;
	background-color:white;
}

#login_form, #signup_form {
	z-index:2;
	position:absolute;
	right:50px;
	top:55px;
}

#answer{
	overflow:  hidden;
	position:absolute;
	top: 45px;
	right:0px;
	margin: 0;
	width: 50%;
	padding:15px;
	border-left: 1px solid #b4b4b4;
	background-color:white;
}

#right{
	
	width: 36px;  
	height: 36px;  
	border-radius: 15px; 
	background-color: rgb(46,117,182);
	display:block;
	margin:auto;
	display:none;
}
#left{
	width: 36px;  
	height: 36px;  
	border-radius: 15px; 
	background-color: rgb(46,117,182);
	display:block;
	margin:auto;
	display:none;
}

@keyframes agrandirTaille {
  from {
    width:50%;	
	z-index:1;
  }
  to {
    width:100%;
	z-index:1;

  }
}

.agrandirTaille{
	animation:agrandirTaille 800ms ease 0s;
	animation-fill-mode:forwards;
}

.reduireTaille{
	animation:reduireTaille 800ms ease 0s;
	animation-fill-mode:forwards;
}
@keyframes reduireTaille {
  from {
    width:100%;	
  }
  to {
    width:50%;
	zIndex:-1;

	
  }
}

.agrandirTailleDeZero{
	animation:agrandirTailleDeZero 800ms ease 0s;
	animation-fill-mode:forwards;
}

@keyframes agrandirTailleDeZero {
  from {
    width:0%;	
	z-index:1;
  }
  to {
    width:100%;
	z-index:1;
	
  }
}
 




#reapparitionAnswer{
	display:none;
	width: 66px;  
	height: 36px;  
	border-radius: 15px; 
	background-color: rgb(46,117,182);
	z-index:10;
	position:fixed;
	right:7px;
	bottom:20px;
}
#reapparitionAsk{
	display:none;
	width: 66px;  
	height: 36px;  
	border-radius: 15px; 
	background-color: rgb(46,117,182);
	z-index:10;
	position:fixed;
	left:7px;
	bottom:20px;
}


#pseudo-form{
	max-width:300px;
}



#ask-add-answers-panel .btn-circle.btn-s {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
#ask-chat-panel .btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
#description-panel{
	text-align:center;
	font-size:18px;
}

.answerer-block .div-bouton{
	float:left;
	margin-right:10px;
}
.answerer-block .div-description{
	display:block;
}

.answerer-block{
	margin:auto;
}

.message-block-gauche .div-bouton{
	float:left;
	margin-right:10px;
}
.message-block-gauche .div-description{
	display:block;
	padding-top:5px;
}

.message-block-gauche{
	margin:auto;
}
.message-block-droite .div-bouton{
	float:right;
	margin-left:10px;
}
.message-block-droite .div-description{
	display:block;
	text-align:right;
	padding-top:5px;
}

.message-block-droite{
	margin:auto;
}

@media all and (max-width: 767px) {
	#ask-add-answers-panel{
		opacity:0;
	}
	#ask-chat-panel .btn-circle.btn-lg {
  width: 20px;
  height: 20px;
  padding: 3px 5px;
  font-size: 10px;
  line-height: 1.33;
  border-radius: 28px;
	}
}

#ask-add-answers-panel{
	z-index:1;
	margin:0;
	padding-bottom:20px;
	margin-top:10px;
	border-radius:0px 0px 0px 0px;
	border-left:solid, black;
	border-top:solid, black;
	box-shadow: -1px 2px 10px 1px rgba(0, 0, 0, 0.7); 
	background-image:linear-gradient(to right, white, rgb(238,238,238));

	
}

#box-answerer-envoye{
	padding:10px;
margin-top:10px;
	
}

#box-answerer-ajoute{
	margin-top:2px;
	padding:10px;
	padding-top:20px;
    border-top:1px solid grey;
	border-radius:0px 0px 24vw 0px;
}
#ask-add-answers-panel legend{
	font-size:15px;

}
#ask-chat-panel{
	z-index:1;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	padding:0;
	margin:0;
}
#panel-chat-corps{
	margin-top:15px;
	
}
#question-section{
	margin-bottom:20px;
	margin-top:5px;
	font-size:18px;
}
#chat-section{
	
	position:relative;
}
#my-response-form{
	width:90%;
	height:80px;
	position:absolute;
	bottom:0;
	left:5%;
	padding-top:5px;
	
}
#reponses-answerers-block{
	
	width:90%;
	margin-left:5%;
	padding:20px;
	padding-top:0px;
	overflow-y:scroll;
}

#myAnswers-section{

width:100%;

}
.myInterestAnswers {
padding-top:15px;
overflow-y:scroll;	
overflow-x:hidden;
height:50vh;
max-width:50vw;
margin:auto;
}
.myInterestAnswers p{
	font-size:18px;
}
.myInterestAnswers h4{
	padding-bottom:10px;
}
#answer-myAnswers-panel .btn-circle.btn-lg {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  
}
.del-croix{
	width:10px;
	position:absolute;
	right:0;
	top:0;
}
#add-users-modal{
	z-index:2;
}
.btn-custom {
  background-color: hsl(207, 54%, 23%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3478b0", endColorstr="#1a3d5a");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#3478b0), to(#1a3d5a));
  background-image: -moz-linear-gradient(top, #3478b0, #1a3d5a);
  background-image: -ms-linear-gradient(top, #3478b0, #1a3d5a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3478b0), color-stop(100%, #1a3d5a));
  background-image: -webkit-linear-gradient(top, #3478b0, #1a3d5a);
  background-image: -o-linear-gradient(top, #3478b0, #1a3d5a);
  background-image: linear-gradient(#3478b0, #1a3d5a);
  border-color: #1a3d5a #1a3d5a hsl(207, 54%, 17.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
  border-radius: 8px; 
  padding-top:5px;
  padding-left:10px;
  padding-right:10px;
  width:80px;
  height:30px;
  margin-top:10px;
}


.navbar-default {
  border-color: #E09A09;
}

#card{
	z-index:1;
	margin-top:35px;
	display: none;
	
}

/* USER PROFILE PAGE */
 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
		
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
  
background-color:rgba(214, 224, 226, 0.7);
}
.card.hovercard .card-background {
    height: 130px;
	
}
.card-background img {

    margin-left: -100px;


}
.card.hovercard .useravatar {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.useravatar .btn-circle.btn-lg {
  width: 70px;
  height: 70px;
  padding: 13px 25px;
  font-size: 36px;
  line-height: 1.33;
  border-radius: 35px;
}
.center {
    margin-top:50px;   
}

.modal-header {
	padding-bottom: 5px;
}

.modal-footer {
    	padding: 0;
	}
    
.modal-footer .btn-group button {
	height:40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}
	
.modal-footer .btn-group:last-child > button {
	border-right: 0;
}